<div class="container">
	<div class="row">
		<% @categories.each do |category| %>
			<div class="col-sm-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="card" style="width: 22rem;">
				  <%= link_to image_tag(category.category_pic,  width: "350", height: "250"), sub_categories_path(category.id)%>
				  <div class="card-body">
				    <center><b><p class="card-text"><%= category.name%></p></b></center>
				  </div>
				</div>
			</div>
		<%end%>
	</div>
</div>