<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<table class="table">
				<tr>
					<th>User Email</th>
				</tr>
				<% @sellers.each do |seller| %>
				<tr>
					<td><%= seller.email %></td>
				</tr>
				<%end%>
			</table>
		</div>
	</div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Back", welcomes_index_path, class: "btn btn-warning" %>